* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666;
  margin: 0 0;
  padding: 0 0;
}
#page_container {
	position: relative;
}
#sudoku_container {
	width: 576px;
	height: 650px;
	margin: 0 auto;
}
#sudoku_container > h3 {
	margin-bottom: 0px;
}

#difficulty {
	margin-top: 15px;
}
#difficulty_drop_down {
    font-size: inherit; 
    padding: .5em; 
    margin: 0;
    background-color: #fff;
    color: #444;
}


#sudoku {
	width: 576px;
	border: 1px solid black;
	height: 576px;
	display: none;
}
.box {
	float: left;	
	width: 33.33%;
	height: 33.33%;
	border: 1px solid black;
}
.small_box {
	float: left;
	width: 33.33%;
	height: 33.33%;
	border: 1px solid #555;
	text-align: center;
	padding-top: 3px;
	font-size: 50px;
	cursor: pointer;
	font-weight: 200;
}
.selected {
	background-color: #afeeee;
}
.default_val {
	color: black;
}


#hints_container {
	display: none;
	float: left;
}
.button {
	width:100px;
	text-align: center;
	border: 1px solid #555;
	cursor: pointer;
	margin: 8px 0 0 0;
	display: inline-block;
}
.active_button:hover {
	color: black;
}
#hints_num {
	font-weight: bold;
}
#restart_button {
	display: none;
	float: right;
}

.greyed_out {
	color: #bbb;
	border: 1px solid #bbb !important;
	cursor: default !important;
}
.greyed_out:hover {
	color: #bbb;	
}



